﻿<footer>
    <div class="footer-container-vertical">
        <div class="footer-column">
            <h3>About</h3>
            <ul>
                <li><a href="#">Abount SANEWS</a></li>
                <li><a href="#">Wikipedia</a></li>
                <li><a href="#">Cookie</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Links</h3>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Whatsapp</a></li>
                <li><a href="#">X</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Help</h3>
            <ul>
                <li><a href="#">Support</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>