﻿<header>
    <div class="container">
        <img class="logo" src="logo.svg" alt="logo">
        <nav>
            <ul class="left-menu">
                <li><a href="/">Main</a></li>
                <li><a href="catalog">Catalog</a></li>
                <li><a href="news">News</a></li>
            </ul>
            <ul class="right-menu">
                <li><a href="#"><img src="scroll.svg" alt="scroll"></a></li>
                <li><a href="#"><img src="search.svg" alt="search"></a></li>
                <li><a href="#"><img src="settings.svg" alt="settings"></a></li>
                <li><a href="#"><img src="profile.svg" alt="profile"></a></li>
            </ul>
        </nav>
    </div>
</header>
